.conteudo > p >  img {
	width: 100% !important;
	border-radius: 1rem;
}

.conteudo > p {
	color: #383838 !important;
}

.geolocalizao{
	width: 100% !important;
}

iframe { width: 100% !important; }

body {
	padding: 0px !important; 
}